<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.dcecilia.yamelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatusActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!-- This makes it the "home page" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FragActivity" >
        </activity>

        <service
            android:name=".RefreshService"
            android:exported="false"
            android:permission="com.example.dcecilia.yamelapp.ACCESS">
        </service>
        <provider
            android:name=".StatusProvider"
            android:authorities="com.example.dcecilia.yamelapp.provider"
            android:writePermission="com.example.dcecilia.yamelapp.ACCESS">
        </provider>

        <receiver android:name=".RefreshReceiver" >
            <intent-filter>
                <action android:name="com.example.dcecilia.yamelapp.REFRESH_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name=".NewStatusReceiver" >
            <intent-filter>
                <action android:name="com.example.dcecilia.yamelapp.NEW_STATUS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>